header img{
    width: 100px;
    height: 50px;
    
}
.hea{
    text-align: right;
}
.hea a{
    margin-left: 70px;
}
header {
    display: flex;
}
header a{
    margin-left: 10px;
    font-size: 23px;
    text-decoration: none;
}
.ikou{
    background-color: burlywood;
    text-align: center;
    width: 350px;
    margin: 0 auto;
}
.ikou a {
    display: inline-block;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 60px 0;
}

.ikou a:hover {
    background-color: #45a049;
}

h1{
    text-align: center;
}

